:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Forzamos colores oscuros siempre */
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Enlaces por defecto: amarillo Star Wars suave */
a {
  font-weight: 500;
  color: #ffe81f; 
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #fff; /* Al pasar el mouse se pone blanco */
}

/* Títulos principales */
h1, h2 {
  color: #ffe81f;
}

/* Botones con mejor contraste */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #ffe81f;
  background-color: #333;
}